@import "../../styles/App.scss";
@import "../../styles/colors.scss";

.NewsFeed {
  margin-top: 128px;
}

.NewsFeed-shift {
  margin-top: 300px;
}

@media (max-width: 868px) {
  .NewsFeed-shift {
    margin-top: 128px;
  }
}
